{% extends "profile/editbase.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block editprofile %}
<div class="tabs-panel {% if request.path == '/profile/password_set/' %}is-active{% endif %} section">
    <div class="title">
        <p>We dont have your password.Set now</p>
    </div>
    <form method="POST" action="{% url 'set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
    <div>
        <input type="submit" name="action" value="{% trans 'Set Password' %}" class="button hollow secondary"/>
    </div>
    </form>
</div>
<style scoped>
    .title  p{
        font-size: 20px;
        text-align: center;
        margin: 20px 0px 40px 0px;
    }
    .section{
        padding: 10px !important;
        margin: 10px;
        margin-left: 40px;
        margin-right: 40px;
        font-family: 'Poppins';
    }
    form div{
        text-align: center;
        padding: 10px;
    }
    ul li{
        list-style-type: none;
    }
    input{
        outline: none;
        border: 1px solid rgb(172, 172, 172) !important;
        border-radius: 10px !important;
    }
</style>
{% endblock %}
