{% extends "profile/editbase.html" %}

{% block editprofile %}
  <div class="section">
      <div class="header">
          <p>Our Terms and Privacy</p>
      </div>
      <div class="context">
          <p>It's a demo app Project.Built with django and a little bit of vuejs. The developer tried to 
              implement some of the features from Instagram. Nice to have you here.
          </p>
          <b>Thank you!</b>
      </div>
  </div>
  <style scoped>
      .section{
          text-align: center;
          font-family: 'Poppins';
      }
      .header{
          font-size: 20px;
          font-weight: 700;
          margin: 30px;
          text-align: center;
      }
      .context{
        margin: 15px;
      }
  </style>
{% endblock editprofile %}