{% extends "profile/editbase.html" %}

{% block editprofile %}
  <div class="section">
      <div class="header">
          <p>Contact Us</p>
      </div>
      <div class="cont">
          <p>Email: allionrifat334@gmail.com</p>
          <p>Github: <span>
              <a href="https://github.com/rifat0rahman">https://github.com/rifat0rahman</a>
            </span>
          </p>
          <p>Facebook: <span>
            <a href="https://www.facebook.com/mr.allion.Z/">https://www.facebook.com/mr.allion.Z/</a>
          </span>
        </p>
      </div>
  </div>
  <style scoped>
      .section{
          margin-top: 40px;
          font-family: "Poppins";
      }
      .header{
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 40px;
          text-align: center;
      }
      .cont{
          margin-left: 50px;
      }
  </style>
{% endblock editprofile %}