{% extends "profile/editbase.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block editprofile %}
<div class="tabs-panel  {% if request.path == '/profile/password_change/' %}is-active{% endif %} section">
    <div class="title">
        <p>Change your password {{request.user}}</p>
    </div>
    <form method="POST" action="{% url 'changepassword' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <input type="submit" class="button hollow secondary" name="action" value="{% trans "Change Password" %}"/>
        </div>
    </form>
    <!-- <-- success messages -->
    <div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="callout success" data-closable="slide-out-right">
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
<!-- css styles are here -->
<style scoped>
    .callout{
        padding: 0px !important;
    }
    .title  p{
        font-size: 20px;
        text-align: center;
        margin-bottom: 40px;
    }
    .section{
        padding: 10px !important;
        margin: 10px;
        margin-left: 40px;
        margin-right: 40px;
        font-family: 'Poppins';
    }
    form div{
        text-align: center;
        padding: 10px;
    }
    ul li{
        list-style-type: none;
    }
    input{
        outline: none;
        border: 1px solid rgb(172, 172, 172) !important;
        border-radius: 10px !important;
    }
</style>


{% endblock editprofile %}
