{% extends "profile/editbase.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block editprofile %}

<div class="container">
    <p class="header">{% trans "Password Reset" %}</p>

    <small class="note">
        <i>This is a demo app,so the developer haven't done any email set-up.But it just to need a smtp setup to up
            and running.
        </i>
    </small>

    <p class="reset-msg">{% trans "Enter your email value.We will send a email with a reset password link" %}</p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <input type="submit" value = "Reset passowrd "class="button hollow secondary" />
        </div>
    </form>
</div>
<!-- email url //action="{% url 'account_reset_password' %}"//-->
<style scoped>
    .container{
        padding: 10px;
        font-family: 'Poppins';
    }
    .header {
        font-family: 'Poppins';
        font-size: 25px;
        text-align: center;
        font-weight: 500;
    }
    .note {
        margin-bottom: 10px;
    }
    .reset-msg{
        margin-top: 25px;
    }
    form input{
        border-radius: 10px !important;
    }
    form div{
        text-align: center;
    }
</style>
{% endblock %}